@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  button.primary {
    @apply inline-flex items-center justify-center px-4 py-2 text-sm leading-tight font-medium rounded-md text-white bg-blue-500 hover:bg-blue-600 active:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-indigo-300 focus:ring-inset disabled:text-gray-400 disabled:bg-gray-300 disabled:cursor-not-allowed;
  }
  button.secondary {
    @apply inline-flex items-center justify-center px-4 py-2 text-sm leading-tight font-medium rounded-md border border-2 border-blue-500 text-blue-600 bg-white hover:bg-gray-200 active:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-300 focus:ring-inset disabled:text-gray-400 disabled:bg-gray-300 disabled:border-0 disabled:cursor-not-allowed;
  }
  button.ghost {
    @apply inline-flex items-center justify-center px-4 py-2 text-sm leading-tight font-medium rounded-md text-blue-700 active:underline focus:outline-none focus:ring-2 focus:ring-indigo-300 focus:ring-inset disabled:bg-gray-300 disabled:text-gray-400 disabled:cursor-not-allowed;
  }
}
