name: Jest Testing/Coverage

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

  workflow_dispatch:

jobs:
  test:
    name: Run tests in main branch
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@main

      - name: Install dependencies
        run: yarn install

      - name: Run tests
        run: yarn test -- --coverage --watchAll=false
  notify:
    needs: test
    name: Publish npm package
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@main
      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v2
        with:
          node-version: "12.x"
          registry-url: "https://registry.npmjs.org"
      - name: Install dependencies
        run: yarn install
      - name: Building project
        run: yarn build
      - name: Publish
        # to remove once semantic-release package accepts `main` as branch name
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          # GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        # run: npx semantic-release
